@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,400..700&family=Teko:wght@300..700&display=swap');
:root{
    --primary-color-oscuro:#001524;
    --secondary-color-oscuro:#445d48;
    --primary-color-claro:#D6cc99;
    --secondary-color-claro:#fde5d4;
}
.dia #btn-modo {
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    
}

.dia header{
    background: var(--primary-color-claro);
    width: 100%;
    max-height: 610px;
    text-align: center;
    
}

.dia header article .navegador{
    position: fixed;
    background: rgba(210, 200, 150, 1);
    box-shadow: inset 0 0 6px #000,0 0 6px #031742;
    border-radius: 10px;
    width: auto;
    max-height: 8vh;
    z-index: 99;
}
.dia header article .navegador li a{
    color: #000;
    margin: 10px 16px;
    font-family: "Teko", sans-serif;
    font-size: 32px;
    padding: 10px 60px;
}
.dia header article .navegador li a:hover{
    color: var(--secondary-color-claro);
}

.dia header article h2,h3{
    color: var(--primary-color-oscuro);
    text-align: left;
    margin-left: 30px;
}

.dia header article .circulo{
    width: 350px;
    height: 350px;
    border-radius: 100%;
    background: #7a650480;
    z-index: 2;
    margin-left: 270px;
}

.dia header article .circulo img{
    z-index: 50;
}
.dia header .iconos ul{
    list-style: none;
}
.dia header .iconos ul li {
    background: #7a650480;
    border-radius: 50%;
    width: 108px;
    height: 108px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
}

.dia .iconos ul li:nth-child(1):hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
    
    box-shadow:0 0 5px #01fd01,0 0 25px #038b25,0 0 50px #0f850b;
} 
.dia .iconos ul li:nth-child(1) :hover{
    color: #01fd01;
    filter: drop-shadow(0 0 25px #01fd01);
}

.dia header .iconos ul i{
    font-size: 74px;
    color: #010724;
}
.dia main section.skill {
    border:2px solid #000;
    background: linear-gradient(133deg, rgba(34,195,142,1) 0%, rgba(135,225,93,0.8827906162464986) 51%, rgba(206,253,45,0.9248074229691877) 100%);
}

.dia main section.skill h2{
    color:var(--primary-color-claro);
    text-shadow: 4px 5px 0 #324435, 5px 6px 0 var(--primary-color-claro);
    font-size: 96px;
    -webkit-text-stroke: 1px #001524;
    padding: 5px 40px 0 40px;

}
.dia main .tarjeta{
    width: 651px;
    height: 135px;
    background: linear-gradient(143deg, rgba(255,255,255,0.1) 32%, rgba(153,153,153,0.1) 83%);
    box-shadow: 4px 0 10px #00000048;
    border-radius: 35px;
    margin: 56px 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.dia main .tarjeta-2{
    margin-left: 50%;
}
.dia main .tarjeta i{
    font-size: 100px;
    padding: 22px;
    color: var(--primary-color-oscuro);
    transition: .3.5s linear;
}
.dia main .tarjeta i:hover{
    scale: 1.28;
    filter: drop-shadow(0 0 8px rgb(255, 255, 255));
}
.dia main section.portafolio {
    height: 765px;
    width: 100%;
    background-color: var(--primary-color-claro);
    border: 2px solid #ffffff80;
}
section.portafolio h2 {
    padding: 20px 30%;
    color: #fff;
    font-size: 96px;
    text-shadow: 0 0 5px #fff,0 0 25px #fff, 0 0 50px #fff;
    -webkit-text-stroke: 0.5px #D6CC99;
}

.contenido {
    background-color: #7D9EB8;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 290px;
    width: 260px;
    margin: 20px auto;
}

.botones {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.botones a {
    text-decoration: none;
    background: #001524;
    color: #fff;
    padding: 8px 16px;
    border-radius: 15px;
    font-size: 22px;
    transition: all 0.3s ease-in-out;
}

.botones a:hover {
    background: #D6CC99;
    color: #001524;
}

.cartas {
    margin: 40px;
    background: #fff;
    width: 310px;
    height: 420px;
}
section.experiencias{
    background: var(--secondary-color-oscuro);
    width: 100%;
    height: 1425px;
    border: 1px solid #000;
}
section.experiencias h2 {
    color: #fff;
    font-size: 50px;
    margin: 50px 25px;
    
}
section.experiencias .mensaje {
    width: 1050px;
    height: 485px;
    background: #999;
    border: 5px solid #000;
    border-radius: 50px;
    margin: 20px 50px;
}

footer {
    background: var(--primary-color-oscuro);
    width: 40%;
    height: 125px;
    border-radius: 50px;
    margin-bottom: 8px;
    margin-left: 30%;
    position: absolute;
    bottom: -110px;
    left: 0;  
    color: #fff; 
    text-align: center; 
}
footer:hover { bottom: 0; }
footer.ocultar {
    position: absolute;
}
footer .icono  {
    height: 50px;
}
footer .icono h3{
    color: #fff;
    font-size: 40px;
    margin: 20%;
}
/* footer .descarga img {
    filter: blur(1px);
    margin:20px 0;
    margin-right: 80px;
    width: 100px;
    animation: rotacion 4s infinite;
}
@keyframes rotate {
    0%,100%{
        rotate: 90deg;
    }
    15%{
        rotate: 120deg;
    }
    30%,45%{
        rotate: 180deg;
    }
    60%,75%{
        rotate: 360deg;
    }
} */


@media (max-width: 991px) and (min-width: 300px) {
    header article .navegador{
        position: static;
        background: rgba(3, 42, 70, 1);
        box-shadow: none;
        border-radius: 10px;
        padding: 0;
        margin: 0;
        z-index: 99;
    }

    main .tarjeta-2{
        margin-left: 0;
        margin: 56px 70px;
    }
    header{
        background: var(--primary-color-oscuro);
        width: 100%;
        min-height: 610px;
        position: static;   
    }
    header .text {
        position: static;
    }
}