@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,400..700&family=Teko:wght@300..700&display=swap');
 :root{
    --primary-color-oscuro:#001524;
    --secondary-color-oscuro:#445d48;
    --primary-color-claro:#D6cc99;
    --secondary-color-claro:#fde5d4;
    --primary-letra:font-family: "Lora", sans-serif;
    --secondary-letra:font-family: "Teko", sans-serif;

 }

*{
    margin: 0;
    padding: 0;
    
}
header {
    background: var(--primary-color-oscuro);
    width: 100%;
    height: 283px;
    text-align: center;
    position: absolute;
}
header h2 {
    font-family: var(--primary-letra);
    color: #fff;
}
header article .navegador{
    background: rgba(3, 42, 70, 1);
    -webkit-background-composite: blur(4);
    box-shadow: inset 0 0 10px #fff,0 0 10px #fff;
    border-radius: 10px;
    width: 67%;
    height: 8vh;
    margin: 15px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 60px;
}
header article .navegador li a{
    color: #fff;
    margin: 10px 16px;
    font-family: "Teko", sans-serif;
    font-size: 32px;
    padding: 10px 60px;
}
header article .navegador li a:hover{
    color: var(--primary-color-claro);
}
header article .descarga {
    margin-top: 15px;
}
header article .descarga .icono{
    position: relative;
    top: -160px;
    left: 14px;
    bottom: 0;
    right: -15px;
}
header article .descarga .icono img {
    position: relative;
    left: -15px;
    top: -15px;
}

header article .descarga h3{
    margin-left: -35px;
    font-size: 40px;
    font-family: var(--primary-letra);
    color: #000000;
}
